.mandelbrot {
  position: fixed;
  width: 730px;
  height: 670px;
  border: solid black;
  padding-bottom: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: white;
  border-radius: 50px;
}

.mandelbrot .p5Canvas {
  border-radius: 40px 40px 0 0;
}

.mandelbrot form {
  margin-top: 8px;
}

.mandelbrot .parameter {
  display: flex;
  justify-content: center;
}

.mandelbrot span {
  width: 200px;
}

.mandelbrot label {
  display: inline-block;
  width: 40px;
  font-weight: bold;
}

.mandelbrot input {
  margin: 2px 0 7px 20px;
  width: 200px;
}

.mandelbrot button {
  margin-top: 5px;
  padding: 3px;
  width: 100px;
}

.mandelbrot .buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mandelbrot .close {
  text-align: center;
  background-color: buttonface;
  border-radius: 4px;
  cursor: default;
  border: solid black;
  padding: 2px;
  position: absolute;
  width: 20px;
  top: 20px;
  right: 20px;
}

.mandelbrot .close:hover {
  background-color: rgb(117, 113, 113);
}
